<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.iagofontes.easystop">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo_easy_stop"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo_easy_stop_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".InitialActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".LoginActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="@string/title_register">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/title_about">
        </activity>
        <activity
                android:name=".CarsActivity"
                android:label="@string/title_vehicles">
        </activity>
        <activity
                android:name=".InformationActivity"
                android:label="@string/title_myVehicle">
        </activity>
    </application>

</manifest>